<mat-card class="mat-elevation-z5">
    <mat-card-header>
        <div mat-card-avatar class="home-avatar">
            <img src="../../../assets/angular-svgrepo-com.svg" style="width:50px">
        </div>
        <mat-card-title>User Management System Application</mat-card-title>
        <mat-card-subtitle>Angular<sup>15</sup>+Material UI</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <h1>Technology:</h1>
        <ol>
            <li>Web Portal: Angular</li>
            <li>BackEnd: NodeJs</li>
            <li>Database: PostgreSQL</li>
        </ol>
        <h3>Features:</h3>
        <ul>
            <li>User can Register themselves</li>
            <li>Without Registration user cann't be LoggedIn</li>
            <li>Forget Password feature available in Login session</li>
            <li>User can update his/her profile and can show other users in a tabular form</li>
            <li>User can update his/her profile picture</li>
            <li>user can logout from his profile</li>
        </ul>
    </mat-card-content>
</mat-card>
